<div class="border p-3">
    <h2 class="text-info pl-3 text-center text-danger">ფიზიკური პირი უკვე იმყოფება ამ კომპანიის სიაში !</h2>
    <div class="form-group row">
    </div>
    <br /><br />
    <div class="text-center">
        <a asp-controller="Users" asp-action="Index" class="btn btn btn-success w-25">დაბრუნება</a>
    </div>
</div>


